<div class="product-add-form">
    <div class="col-md-8">
        <form name="addData" method="post" id="addData" class="form" action="<?php echo $block->getUrl('multivendor/product/save'); ?>"
              data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <legend class="legend"><span><?= $block->escapeHtmlAttr(__('Add New Product')) ?></span></legend>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action submit primary" title="Save"><span><?= $block->
                                escapeHtmlAttr(__('Save')) ?></span></button>
                    </div>
                </div>
                <fieldset class="fieldset row">
                    <div class="fields col-md-6">
                        <div class="field required">
                            <label class="label">Product Name:</label>
                            <div class="control">
                                <input type="text" class="required-entry input-text" name="name" id="name" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="field name required">
                            <label class="label" for="title"><span><?= $block->escapeHtmlAttr(__('SKU')) ?></span></label>
                            <div class="control">
                                <input name="sku" id="sku" class="required-entry validate-length maximum-length-64 input-text" type="text" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">Price<b>($)</b>:</label>
                            <div class="control">
                                <input type="text" class="required-entry validate-zero-or-greater input-text" name="price" id="price" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">Attribute Set:</label>
                            <div class="control">
                                <label>
                                    <select name="attribute-set" class="required-entry" aria-required="true">
                                        <option></option>
                                        <option value="4">Default</option>
                                        <option value="9">Clothes</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">Quantity:</label>
                            <div class="control">
                                <input type="text" class="required-entry validate-number input-text" name="quantity_and_stock_status" id="qty" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">Stock Availability:</label>
                            <div class="control">
                                <select id="" class="select" name="is_in_stock" aria-required="true">
                                    <option value="1" selected="selected">In Stock</option>
                                    <option value="0">Out of Stock</option>
                                </select>
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">Visibility:</label>
                            <div class="control">
                                <select id="visibility" class="required-entry required-entry select" name="visibility" aria-required="true">
                                    <option value="">Please Select</option>
                                    <option value="1">Not Visible Individually</option>
                                    <option value="2">Catalog</option>
                                    <option value="3">Search</option>
                                    <option value="4">Catalog, Search</option>
                                </select>
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">Description:</label>
                            <div class="control rit-border-box-sizing">
                                <textarea name="description" class="required-entry input-text" id="description" rows="5" cols="75"></textarea>
                                <script>
                                    require([
                                        "jquery",
                                        "mage/translate",
                                        "mage/adminhtml/events",
                                        "mage/adminhtml/wysiwyg/tiny_mce/setup"
                                    ], function(jQuery) {
                                        wysiwygDescription = new wysiwygSetup("description", {
                                            "width" : "100%",
                                            "height" : "200px",
                                            "plugins" : [{"name":"image"}],
                                            "tinymce" : {
                                                "toolbar":"formatselect | bold italic underline | "+
                                                    "alignleft aligncenter alignright |" +
                                                    "bullist numlist |"+
                                                    "link table charmap","plugins":"advlist "+
                                                    "autolink lists link charmap media noneditable table "+
                                                    "contextmenu paste code help table",
                                            },
                                        });
                                        wysiwygDescription.setup("exact");
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Short Description:</label>
                            <div class="control rit-border-box-sizing">
                                <textarea name="short_description" class="input-text" id="short_description" rows="5" cols="75"></textarea>
                                <script>
                                    require([
                                        "jquery",
                                        "mage/translate",
                                        "mage/adminhtml/events",
                                        "mage/adminhtml/wysiwyg/tiny_mce/setup"
                                    ], function(jQuery) {
                                        wysiwygShortDescription = new wysiwygSetup("short_description", {
                                            "width" : "100%",
                                            "height" : "200px",
                                            "plugins" : [{"name":"image"}],
                                            "tinymce" : {
                                                "toolbar":"formatselect | bold italic underline | "+
                                                    "alignleft aligncenter alignright |" +
                                                    "bullist numlist |"+
                                                    "link table charmap","plugins":"advlist "+
                                                    "autolink lists link charmap media noneditable table "+
                                                    "contextmenu paste code help table",
                                            },
                                        });
                                        wysiwygShortDescription.setup("exact");
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Special Price From:</label>
                            <div class="control">
                                <input type="date" data-date-inline-picker="true" name="special_from_date" id="special-from-date" class="input-text _has-datepicker" value="" autocomplete="on">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Special Price To:</label>
                            <div class="control">
                                <input type="date" data-date-inline-picker="true" name="special_to_date" id="special-to-date" class="input-text _has-datepicker" value="" autocomplete="on">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Url Key:</label>
                            <div class="control">
                                <input type="text" class="input-text" name="url_key" id="meta_title" value="">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Meta Title:</label>
                            <div class="control">
                                <input type="text" class="input-text" name="meta_title" id="meta_title" value="">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Meta Keywords:</label>
                            <div class="control">
                                <textarea class="textarea" id="meta_keyword" name="meta_keyword"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Meta Description:</label>
                            <div class="control">
                                <textarea class="textarea" id="meta_description" name="meta_description"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Allowed Product Qty on Product Purchase for Customer:</label>
                            <div class="control">
                                <input type="text" class="input-text validate-number" name="product_cart_limit" id="mp_product_cart_limit" value="">
                                <span>By default 10 qty will be allowed for customer to add in cart</span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Product Images:</label>
                            <div class="control">
                                <input type="file" name="image" accept="image/*">

                            </div>
                        </div>
                    </div>
                </fieldset>
            </fieldset>
        </form>
    </div>
</div>
