<style>
    :root {
  --custom-color: <?php echo $block->getThemeColor(); ?>; /* Default color */
}
</style>
<h1><?php echo $block->getPageTitle(); ?></h1>
<div class="rit-mp-design rit-mp-landingpage rit-mp-landingpage-layout1">
    <div class="rit-mp-banner-container">
        <div class="rit-mp-banner"
            style="background-image: url('<?php echo $block->getMediaUrl().$block->getBannerPath(); ?>');">
            <div class="rit-mp-header">
                <h1>Open a Marketplace Shop</h1>
                <h2>
                    <p><span><?php echo $block->getDescription(); ?></p>
                </h2>
                <p>
                    <a href="<?php echo $block->getBaseUrl()."/multivendor/seller/register/"; ?>">
                        <button class="button rit-mp-landing-button">
                            <span>
                                <span>
                                    <strong>Open a Marketplace Shop</strong>
                                </span>
                            </span>
                        </button>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="rit-mp-label3-container">
        <div class="rit-mp-label3">
            <h3 class="rit-marketplace-label-about">More than 500 shop owners have joined us last month </h3>

            <a href="<?php echo $block->getBaseUrl()."/multivendor/seller/register/"; ?>">
                <button class="button rit-mp-landing-button">
                    <span>
                        <span>
                            View All </span>
                    </span>
                </button>
            </a>
        </div>
    </div>

    <h1 class="rit-marketplace-label">Why to sell with us</h1>

    <div class="rit-mp-landing-about">
        <?php echo $block->getAboutMultivendor(); ?>

        <a href="<?php echo $block->getBaseUrl()."/multivendor/seller/register/"; ?>">
            <button class="button rit-mp-landing-button">
                <span>
                    <span>
                        <strong>Open a Marketplace Shop</strong>
                    </span>
                </span>
            </button>
        </a>
    </div>
