<?php $_gridrecords = $block->getCollection();?>
<?php if ($_gridrecords && count($_gridrecords)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
            <div class="custom-search">
                <form class="form" method="get" action="<?php /* @escapeNotVerified */ echo $block->getUrl('multivendor/product/search'); ?>">
                    <input id="search" name="q" class="input-text" type="text" placeholder="<?php /* @escapeNotVerified */ echo __('Search...') ?>" style="width: auto" />
                    <button class="search-button" type="submit">
                        <?php /* @escapeNotVerified */ echo __('Search') ?>
                    </button>
                </form>
            </div>
            <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __('ID #') ?></th>
                <th scope="col" class="col name"><?php echo __('Customer Name') ?></th>
                <th scope="col" class="col email"><?php echo __('Customer Email') ?></th>
                <th scope="col" class="col address"><?php echo __('Address') ?></th>
                <th scope="col" class="col date"><?php echo __('Store Code') ?></th>
                <th scope="col" class="col status"><?php echo __('Status') ?></th>
                <th scope="col" class="col ">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <?php // read collection as magento1.x and display in list
            foreach ($_gridrecords as $_gridrecord): ?>
                <tr>
                    <td class="col id"><?php echo $_gridrecord->getId() ?></td>
                    <td class="col name"><?php echo $_gridrecord->getFirstName() ?></td>
                    <td class="col email"><?php echo $_gridrecord->getEmail() ?></td>
                    <td class="col address"><?php echo $_gridrecord->getAddress() ?></td>
                    <td class="col date"><?php echo('hello') ?></td>
                    <td class="col status"><?php echo('hjk')  ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div
            class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); // for display pager block which we create in block file.   ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('grid records not available.'); ?></span></div>
<?php endif ?>

<style>
    .search .search-button {
        /* Add your desired styles for the search button */
        /* For example: */
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>
