<div class="rit-mp-menu-wrapper fixed">
    <nav class="rit-mp-menu">
        <ul>
            <li class="rit-mp-item-dashboard level-0">
                <a href="<?php echo $block->getBaseUrl() . "/multivendor/account/vendor/"; ?>"> <span>Dashboard</span> </a>
            </li>
            <li class="rit-mp-item-order level-0">
                <a href="<?php echo $block->getBaseUrl() . "/multivendor/account/orders/"; ?>"> <span>Orders</span> </a>
            </li>
            <li class="rit-mp-item-product level-0 ">
                <a href="<?php echo $block->getBaseUrl() . "/multivendor/account/products/"; ?>"> <span>Products</span> </a>
                <div class="rit-mp-submenu">
                    <ul>
                        <li data-ui-id="products-menu" class="item-menu parent level-1">
                            <strong class="rit-mp-submenu-group-title"> <span>Menu</span></strong>
                            <div class="rit-mp-submenu">
                                <ul>
                                    <li class="level-2">
                                        <a href="<?php echo $block->getBaseUrl() ."multivendor/account/add/";?>"> <span>Add Products</span> </a>
                                    </li>
                                    <li class="level-2">
                                        <a href="<?php echo $block->getBaseUrl() ."/marketplace/product/productlist/";?>"> <span>My Products List</span> </a>
                                    </li>
                                    <li class="level-2">
                                        <a href="<?php echo $block->getBaseUrl() ."/marketplace/product_attribute/new/";?>"> <span>Configurable Attribute</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="rit-mp-item-customer level-0">
                <a href="<?php echo $block->getBaseUrl() . "multivendor/account/customers/"; ?>"> <span>Customers</span>
                </a>
            </li>
            <li class="rit-mp-item-transaction level-0">
                <a href="<?php echo $block->getBaseUrl() . "/multivendor/account/Transactions/"; ?>">
                    <span>Transactions</span> </a>
            </li>
            <li class="rit-mp-item-review level-0">
                <a href="<?php echo $block->getBaseUrl() . "/multivendor/account/Review/"; ?>"> <span>Review</span> </a>
            </li>
            <li class="rit-mp-item-settings level-0">
                <a href="<?php echo $block->getBaseUrl() . "/marketplace/account/dashboard/#"; ?>">
                    <span>Settings</span> </a>
            </li>
        </ul>
    </nav>
</div>
