<?php
$attributeSetRepository = $block->getAttributeSetRepository();
?>

<div class="product-add-form">
    <div class="col-md-8">
        <form name="addData" method="post" id="addData" class="form" action="<?php echo $block->getUrl('multivendor/product/save'); ?>"
              data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <div class="field">
                    <label class="label">Related Products</label>
                    <div class="control">
                        <span>Related products are shown to customers in addition to the item the customer is looking at.</span>
                        <table class="data table product-collection" id="product-table">
                            <thead>
                            <tr>
                                <th class="table-head"><label for="select_all_checkboxes" class="visuallyhidden"></label>
                                    <input type="checkbox" id="select_all_checkboxes" /></th>
                                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                                <th scope="col" class="col name"><?php echo __('Thumbnail') ?></th>
                                <th scope="col" class="col email"><?php echo __('Name') ?></th>
                                <th scope="col" class="col address"><?php echo __('Attribute Set') ?></th>
                                <th scope="col" class="col date"><?php echo __('Status') ?></th>
                                <th scope="col" class="col status"><?php echo __('Type') ?></th>
                                <th scope="col" class="col status"><?php echo __('SKU') ?></th>
                                <th scope="col" class="col status"><?php echo __('Price') ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($block->getProductCollection() as $product):?>
                            <?php $thumbnailUrl = $block->getImageHelper()->init($product, 'thumbnail')->getUrl();
                                $attributeSetId = $product->getAttributeSetId();
                                $attributeSet = $attributeSetRepository->get($attributeSetId);
                                $attributeSetName = $attributeSet->getAttributeSetName();

                                ?>
                                <tr>
                                    <td><label><input type="checkbox" class="select-checkbox" name="name1" /></label>&nbsp;</td>
                                    <td class="col id"><?php echo $product->getId() ?></td>
                                    <td class="col thumbnail"><img src="<?php echo $thumbnailUrl ?>" alt="Product Thumbnail"></td>
                                    <td class="col name"><?php echo $product->getName() ?></td>
                                    <td class="col attribute"><?php echo $attributeSet->getAttributeSetName() ?></td>
                                    <td class="col status"><?php echo $product->getStatus() ?></td>
                                    <td class="col type"><?php echo $product->getTypeId() ?></td>
                                    <td class="col sku"><?php echo $product->getSku() ?></td>
                                    <td class="col price"><?php echo $product->getPrice() ?></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <div class="field">
                    <label class="label">Up-Sell Products</label>
                    <div class="control-up-sell">
                        <span>An up-sell item is offered to the customer as a pricier or higher-quality alternative to the product the customer is looking at.</span>
                        <table class="data table product-collection-upsell" id="product-table-upsell">
                            <thead>
                            <tr>
                                <th class="table-head-upsell"><label for="select_all_checkboxes" class="visuallyhidden"></label>
                                    <input type="checkbox" id="select_all_checkboxes" /></th>
                                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                                <th scope="col" class="col name"><?php echo __('Thumbnail') ?></th>
                                <th scope="col" class="col email"><?php echo __('Name') ?></th>
                                <th scope="col" class="col address"><?php echo __('Attribute Set') ?></th>
                                <th scope="col" class="col date"><?php echo __('Status') ?></th>
                                <th scope="col" class="col status"><?php echo __('Type') ?></th>
                                <th scope="col" class="col status"><?php echo __('SKU') ?></th>
                                <th scope="col" class="col status"><?php echo __('Price') ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($block->getProductCollection() as $product):?>
                                <?php $thumbnailUrl = $block->getImageHelper()->init($product, 'thumbnail')->getUrl();
                                $attributeSetId = $product->getAttributeSetId();
                                $attributeSet = $attributeSetRepository->get($attributeSetId);
                                $attributeSetName = $attributeSet->getAttributeSetName();
                                ?>
                                <tr>
                                    <td><label><input type="checkbox" name="name1" /></label>&nbsp;</td>
                                    <td class="col id"><?php echo $product->getId() ?></td>
                                    <td class="col thumbnail"><img src="<?php echo $thumbnailUrl ?>" alt="Product Thumbnail"></td>
                                    <td class="col name"><?php echo $product->getName() ?></td>
                                    <td class="col attribute"><?php echo $attributeSet->getAttributeSetName() ?></td>
                                    <td class="col status"><?php echo $product->getStatus() ?></td>
                                    <td class="col type"><?php echo $product->getTypeId() ?></td>
                                    <td class="col sku"><?php echo $product->getSku() ?></td>
                                    <td class="col price"><?php echo $product->getPrice() ?></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <div class="field">
                    <label class="label">Cross-Sell Products</label>
                    <div class="control-cross-sell">
                        <span>These "impulse-buy" products appear next to the shopping cart as cross-sells to the items already in the shopping cart.</span>
                        <table class="data table product-collection-crosssell" id="product-table-crosssell">
                            <thead>
                            <tr>
                                <th class="table-head-upsell"><label for="select_all_checkboxes" class="visuallyhidden"></label>
                                    <input type="checkbox" id="select_all_checkboxes" /></th>
                                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                                <th scope="col" class="col name"><?php echo __('Thumbnail') ?></th>
                                <th scope="col" class="col email"><?php echo __('Name') ?></th>
                                <th scope="col" class="col address"><?php echo __('Attribute Set') ?></th>
                                <th scope="col" class="col date"><?php echo __('Status') ?></th>
                                <th scope="col" class="col status"><?php echo __('Type') ?></th>
                                <th scope="col" class="col status"><?php echo __('SKU') ?></th>
                                <th scope="col" class="col status"><?php echo __('Price') ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($block->getProductCollection() as $product):?>
                                <?php $thumbnailUrl = $block->getImageHelper()->init($product, 'thumbnail')->getUrl();
                                $attributeSetId = $product->getAttributeSetId();
                                $attributeSet = $attributeSetRepository->get($attributeSetId);
                                $attributeSetName = $attributeSet->getAttributeSetName();

                                ?>
                                <tr>
                                    <td><label><input type="checkbox" name="name1" /></label>&nbsp;</td>
                                    <td class="col id"><?php echo $product->getId() ?></td>
                                    <td class="col thumbnail"><img src="<?php echo $thumbnailUrl ?>" alt="Product Thumbnail"></td>
                                    <td class="col name"><?php echo $product->getName() ?></td>
                                    <td class="col attribute"><?php echo $attributeSet->getAttributeSetName() ?></td>
                                    <td class="col status"><?php echo $product->getStatus() ?></td>
                                    <td class="col type"><?php echo $product->getTypeId() ?></td>
                                    <td class="col sku"><?php echo $product->getSku() ?></td>
                                    <td class="col price"><?php echo $product->getPrice() ?></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

