<?php
// Retrieve the search results from the layout
$searchResults = $block->getRequest()->getParam('searchResults');
?>
<table class="search-results">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>SKU</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <?php if ($searchResults && $searchResults->getSize()): ?>
        <?php foreach ($searchResults as $result): ?>
            <tr>
                <td><?php echo $block->escapeHtml($result->getCustomerName()); ?></td>
                <td><?php echo $block->escapeHtml($result->getEmail()); ?></td>
                <td><?php echo $block->escapeHtml($result->getAddress()); ?></td>
            </tr>
        <?php endforeach; ?>
    <?php else: ?>
        <tr>
            <td colspan="3">No results found.</td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>
