<!--@subject {{trans "Vendor Registration"}} @-->
{{template config_path="design/email/header_template"}}
<h1>New Vendor Registration</h1>
<p>First Name: {{var first_name}}</p>
<p>Last Name: {{var last_name}}</p>
<p>Email: {{var email}}</p>
<p>Shop Name: {{var shop_name}}</p>
<p>Shop URL: {{var shop_url}}</p>
<p>Shop Description: {{var shop_description|raw}}</p>
<p>Phone: {{var phone}}</p>
<p>Address: {{var address}}</p>
{{template config_path="design/email/footer_template"}}
<!-- Add more fields as needed -->