<!--@subject {{trans "Seller Disapprove"}} @-->
{{template config_path="design/email/header_template"}}
<h1>Seller Disapprove</h1>
<p>Dear {{var first_name}} {{var last_name}}, Your account has been disapproved.</p>
{{template config_path="design/email/footer_template"}}