<!--@subject {{trans "Seller Approve"}} @-->
{{template config_path="design/email/header_template"}}
<h1>Seller Approved</h1>
<p>Dear {{var first_name}} {{var last_name}}, Your seller account has been approved.</p>
<p>Reset your password with the email {{var email}} using {{var resetlink}}/</p>
{{template config_path="design/email/footer_template"}}