*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin sans', san-serif;
}

.rit-mp-menu-wrapper{
    display: flex;
    position: relative;
    overflow:auto;
    background: #1a1a1a;
}
.rit-mp-menu-wrapper .rit-mp-menu{
    position: fixed;
    width: 150px;
    height: 100%;
    background: #1a1a1a;
    padding: 30px 0;
    float:left;
    min-height:400px;

}
.rit-mp-menu-wrapper .rit-mp-menu ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}
.rit-mp-menu-wrapper .rit-mp-menu ul li a{
    color: #B2D0F7;
    display: block;
}
.header.content {
    display: none;
}
.footer.content {
    display: none;
}
.section-items.nav-sections-items {
    display: none;
}
/*.rit-mp-submenu{*/
/*    display: none;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    background-color: red;*/
/*    width: 100%;*/
/*    z-index: 1;*/
/*}*/
/*.rit-mp-submenu a ul li{*/
/*    float: left;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*.rit-mp-submenu a ul li:hover {*/
/*    background-color: #eee;*/
/*    color: black;*/
/*}*/

/*.rit-mp-menu-wrapper {*/
/*     display: inline-block;*/
/*     width: 8rem;*/
/*     position: relative;*/
/*     text-align: center;*/
/*     z-index: 800;*/
/*}*/
