.rit-mp-landingpage-layout1 {
    background-color: var(--custom-color) !important;
    color: #fff;
    padding: 10px;
  }
  .rit-mp-header {
    color: black;
    padding: 6.5%;
    text-align: center;
    font-weight: bold;
}
.rit-mp-label3 {
    border: 1px solid #eee;
    padding: 10px;
}
.rit-mp-label3-container {
  margin: 30px 0px;
  text-align: center;
}
h1.rit-marketplace-label {
  text-align: center;
}
.rit-mp-landing-about {
  text-align: center;
  margin: 30px 0px;
}