/* Add custom styles to your form elements */

.vendor-register-form, .vendor-login-form {
    max-width: 600px;
    margin: 0 auto;
}

.field {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
}

.input-text,
.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-file {
    display: block;
    margin-top: 5px;
}

.actions-toolbar {
    margin-top: 20px;
}

.submit {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #23527c;
}

.required .label::after {
    content: "*";
    color: #ff0000;
}
