<?php
$formValues = $block->getFormValues(); // Assuming you have a method to retrieve the form values in the block class
$model = $block->getModel(); // Assuming you have a method to retrieve the model instance in the block class
?>
<form action="<?php echo $block->getFormActionUrl(); ?>" method="post" enctype="multipart/form-data">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <input type="hidden" name="entity_id" value="<?php echo $model->getEntityId(); ?>" />
    <input type="text" name="first_name" value="<?php echo $formValues['first_name'] ?? $model->getFirstName(); ?>" />
    <input type="text" name="last_name" value="<?php echo $formValues['last_name'] ?? $model->getLastName(); ?>" />
    <!-- Add more fields as needed -->
    <button type="submit">Save</button>
</form>