<div>
<form action="<?php //echo $block->getGridUrl(); ?>" method="get">
    <input type="text" name="filter_value" placeholder="Filter by Column 1" value="<?php //echo $block->getRequest()->getParam('filter_value'); ?>">
    <button type="submit">Apply Filter</button>
</form>

<table class="data-grid">
    <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
        <?php foreach ($block->getCollection() as $item): ?>
            <tr>
                <td><?php echo $item->getEmail(); ?></td>
                <td><?php echo $item->getFirstName(); ?></td>
                <!-- Add more columns as needed -->
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>

<?php echo $block->getCollection()->getSize(); ?> records found.

<?php echo $block->getCollection()->getLastPageNumber(); ?> total pages.

<?php if ($block->getCollection()->getSize() > 0): ?>
    <div class="pagination">
        <?php echo $block->getCollection()->getToolbarBlock()->toHtml(); ?>
    </div>
<?php endif; ?>
</div>