<form class="vendor-register-form" id="vendor-register-form" action="<?= $block->getFormAction() ?>" method="post" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
    <?= $block->getBlockHtml('formkey') ?>
    <fieldset class="fieldset">
        <legend class="legend"><?= __('Seller Registration') ?></legend>
        <div class="field required">
            <label class="label" for="first_name"><span><?= __('First Name') ?></span></label>
            <div class="control">
                <input type="text" id="first_name" name="first_name" class="input-text" data-validate="{required:true}">
                <div class="field-error">
                    <div data-validate-for="first_name"></div>
                </div>
            </div>
        </div>
        <div class="field required">
            <label class="label" for="last_name"><span><?= __('Last Name') ?></span></label>
            <div class="control">
                <input type="text" id="last_name" name="last_name" class="input-text" data-validate="{required:true}">
                <div class="field-error">
                    <div data-validate-for="first_name"></div>
                </div>
            </div>
        </div>
        <div class="field required">
            <label class="label" for="email"><span><?= __('Email') ?></span></label>
            <div class="control">
                <input type="email" id="email" name="email" class="input-text" data-validate="{required:true, 'validate-email':true}">
                <div class="field-error">
                    <div data-validate-for="first_name"></div>
                </div>
            </div>
        </div>
        <div class="field required">
            <label class="label" for="shop_name"><span><?= __('Shop Name') ?></span></label>
            <div class="control">
                <input type="text" id="shop_name" name="shop_name" class="input-text" data-validate="{required:true}">
                <div class="field-error">
                    <div data-validate-for="first_name"></div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="shop_url"><span><?= __('Shop URL') ?></span></label>
            <div class="control">
                <input type="text" id="shop_url" name="shop_url" class="input-text">
            </div>
        </div>
        <div class="field">
            <label class="label" for="logo"><span><?= __('Logo') ?></span></label>
            <div class="control">
                <input type="file" id="logo" name="logo" class="input-file">
            </div>
        </div>
        <div class="field">
            <label class="label" for="banner"><span><?= __('Banner') ?></span></label>
            <div class="control">
                <input type="file" id="banner" name="banner" class="input-file">
            </div>
        </div>
        <div class="field required">
            <label class="label" for="phone"><span><?= __('Phone') ?></span></label>
            <div class="control">
                <input type="text" id="phone" name="phone" class="input-text" data-validate="{required:true}">
                <div class="field-error">
                    <div data-validate-for="first_name"></div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="shop_description"><span><?= __('Shop Description') ?></span></label>
            <div class="control">
                <textarea id="shop_description" name="shop_description" class="textarea"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="meta_keyword"><span><?= __('Meta Keyword') ?></span></label>
            <div class="control">
                <input type="text" id="meta_keyword" name="meta_keyword" class="input-text">
            </div>
        </div>
        <div class="field">
            <label class="label" for="meta_description"><span><?= __('Meta Description') ?></span></label>
            <div class="control">
                <textarea id="meta_description" name="meta_description" class="textarea"></textarea>
            </div>
        </div>
        <div class="field required">
            <label class="label" for="address"><span><?= __('Address') ?></span></label>
            <div class="control">
                <textarea id="address" name="address" class="textarea" data-validate="{required:true}"></textarea>
                <div class="field-error">
                    <div data-validate-for="first_name"></div>
                </div>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" id="vendor_status" name="vendor_status" class="input-text" data-validate="{required:true}" value="pending">
                <input type="hidden" id="store_code" name="store_code" class="input-text" data-validate="{required:true}" value="<?= $block->getStoreCode(); ?>">
                <button type="submit" class="action submit primary">
                    <span><?= __('Sign Up') ?></span>
                </button>
            </div>
            <div class="secondary">
                <a href="http://river.magento.com/multivendor/seller/login">Sign In</a>
            </div>
        </div>
    </fieldset>
</form>
<script>
    require([
        'jquery',
        'mage/validation'
    ], function($){
        var dataForm = $('#vendor-register-form');
        dataForm.validation();
    });
</script>